.linea-separadora {
    border-left: 1px solid black;
    position: static;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 1px;
    background-color: black;
}

.linea-vertical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5vh;
    width: 1px;
    background-color: black;
}

.imagen {
    width: 150px;
    height: 150px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #00FFD8;
}
